fizz_buzz_server//vendor/
fizz_buzz_server/node_modules/
fizz_buzz_server/npm-debug.log
fizz_buzz_server/yarn-error.log

# Laravel 4 specific
fizz_buzz_server/bootstrap/compiled.php
fizz_buzz_server/app/storage/

# Laravel 5 & Lumen specific
fizz_buzz_server/public/storage
fizz_buzz_server/public/hot

# Laravel 5 & Lumen specific with changed public path
fizz_buzz_server/public_html/storage
fizz_buzz_server/public_html/hot

fizz_buzz_server/storage/*.key
fizz_buzz_server/.env
fizz_buzz_server/Homestead.yaml
fizz_buzz_server/Homestead.json
fizz_buzz_server/.vagrant
fizz_buzz_server/.phpunit.result.cache
